.documentcontent {
  position: relative;
  font-size: 12pt;
  font-family: "Times New Roman";
}

.kp-modified-para {
  /* background-color: rgb(0, 0, 188); */
  /* border: 3px solid black; */
  -webkit-transition: 150ms;
  transition: 150ms;
}
.kp-modified-para:hover {
  /* background-color: rgb(255, 228, 188) !important; */
}

.kp-citing-case-link-cont {
  position: relative;
  height: 0px;
  /* width: 0px; */
}
.kp-citing-case-link {
  /* visibility: hidden; */
  position: absolute;
  right: 0px;
  text-align: right;
  /* background-color: inherit; */
}

.kp-heading {
  background-color: white;
  /* position: sticky; */
  /* top: 33px; */
  padding-top: 5px;
  padding-bottom: 5px;
  text-indent: 0pt !important;
}

/* .kp-heading {
  margin-left: 27pt;
  margin-right: 27pt;
} */


.kp-para-range {
  position: absolute;
  right: 0%;
  /* text-indent: 0pt; */
  /* text-align: right; */
  /* float: right; */
}

[class^="triangle"] {
  width: 0;
	height: 0;
  float: left;
  margin-top: 4px;
  margin-right: 5px;
}
.triangle-right {
	border-top: 4px solid transparent;
	border-left: 8px solid black;
	border-bottom: 4px solid transparent;
}
.triangle-down {
  border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 8px solid black;
}

.kp-expand-all {

}


/* .kp-collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.kp-collapsible:after {
  content: '\02795';
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}
.active, .kp-collapsible:hover {
  background-color: #ccc;
} */
