.kp-modified-para {
  /* background-color: rgb(0, 0, 188); */
  /* border: 3px solid black; */
  -webkit-transition: 150ms;
  transition: 150ms;
}
.kp-modified-para:hover {
  /* background-color: rgb(255, 228, 188) !important; */
}

.kp-citing-case-link-cont {
  position: relative;
  height: 0px;
  /* width: 0px; */
}
.kp-citing-case-link {
  /* visibility: hidden; */
  position: absolute;
  right: 0px;
  text-align: right;
  /* background-color: inherit; */
}


.kp-collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.kp-collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}
.active, .kp-collapsible:hover {
  background-color: #ccc;
}
.triangle-right {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #555;
	border-bottom: 25px solid transparent;
}
